html {
    background-color: #F3F1EF;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.main-cart-container {
    flex: 1 1 70%;
    min-width: 50ch;
}

.cart-wrapper {
    margin-left: 15vw;
    margin-right: 3vw;
}

.cart-title-wrapper {
    height: 2rem !important;
    border-radius: .5rem !important;
}

.product-name-title-wrapper {
    display: flex !important;
    justify-content: center !important;
}

.empty-cart-msg-row-wrapper {
    margin-top: 1rem;
    height: 5rem;
    border-radius: .7rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.empty-cart-msg-row-wrapper > span {
    font-size: 2rem;
}

.item-row-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 8rem;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.product-img-wrapper {
    flex: 1 1 10% !important;
    z-index: 10;
}

.item-row-wrapper > .product-img-wrapper > img {
    z-index: 10;
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 6px 15px 0px #ccc;
    margin-left: -3rem;
    transition: .2s;
    scale: 1;
}

.product-name-wrapper {
    flex: 1 1 35%;
    padding-left: 0rem;
}

.product-name-wrapper > span {
    word-break: break-all;
}

.product-price-wrapper {
    flex: 1 1 15%;
    display: flex;
    justify-content: center;
}

.product-quantity-wrapper {
    flex: 1 1 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-quantity-wrapper > span {
    display: flex;
    justify-content: center;
    width: 3rem;
}

.product-quantity-wrapper > button {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    border-style: solid;
    cursor: pointer;
    transition-duration: .4s;
    font-size: 1.2rem;
}

.decrement {
    background-color: transparent;
    border: 2px solid #e45959;
    color: #383634;
}

.decrement:hover {
    background-color: #e45959;
    border: 2px solid #e45959;
    color: white;
}

.increment {
    background-color: transparent;
    border: 2px solid #4c7c7d;
    color: black;
}

.increment:hover {
    background-color: #4c7c7d;
    border: 2px solid #4c7c7d;
    color: white;
}

.product-total-wrapper {
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
}

.product-remove-wrapper {
    flex: 1 1 15%;
    display: flex;
    justify-content: center;
}

.product-remove-wrapper > button {
    padding: .3rem .5rem .3rem .5rem;
    background-color: transparent;
    border: 2px solid #e45959;
    color: #e45959;
    transition-duration: .2s;
    cursor: pointer;
}

.product-remove-wrapper > button:hover {
    background-color: #e45959;
    border: 2px solid #e45959;
    color: white;
}

.main-summary-container {
    flex: 1 1 30%;
}

.summary-wrapper {
    position: sticky;
    top: 10%;
    margin-top: 1rem;
    margin-left: 3rem;
    width: 20rem;
    height: 12rem;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.summary-title {
    flex: 1 1 30%;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
}

.summary-item-count {
    flex: 1 1 10%;
    padding-left: 2rem;
}

.summary-subtotal {
    flex: 1 1 10%;
    padding-left: 2rem;
}

.summary-check-out {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: .8rem;
}

.summary-check-out > button {
    min-width: 10rem;
    min-height: 3rem;
    border-radius: 2rem;
    border: 2px solid #4c7c7d;
    color: white;
    background-color: #4c7c7d;
    font-size: 1.1rem;
    cursor: pointer;
    transition-duration: .2s;
}

.summary-check-out > button:hover {
    background-color: white;
    color: #4c7c7d;
}

.summary-check-out > button:disabled {
    border: 2px solid #D8D8D8;
    background-color: #D8D8D8;
    color: #8D8D8D;
    cursor: auto;
}