.input {
    text-align: center;
    border-radius: 15px;
    border: 5px solid #0980e0;
    padding: 20px;
    width: 300px;
    height: 265px;
  }

.form{
    font-size: 14;   
    border-radius: 5px; 
    border-width: 2px;
    border-color: black;
}

.button{
    font-size: 14;   
    border-radius: 5px; 
    border-width: 2px;
    background-color: aliceblue;    
}

.button:hover{
    background-color: rgb(228, 243, 255)
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30;
    padding-left: 500;
    transform: rotate(345deg);
    padding-top: 8;
}

.pic:hover{
    transform: rotate(346deg);
}
 
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black; 
  font-size: 11;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #0980e0;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 32%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left:50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 