* {
    font-family: 'Lato', sans-serif;
}

#cover {
    position: fixed;
    height: 20%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(248, 245, 242, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@-moz-document url-prefix() {
    #cover {
        background-color: #F3F1EF;
    }
}

#page-loading {
    width: 5vw;
}

header {
    position: sticky;
    z-index: 100;
    top: 0;
}

.log-out-container {
    z-index: 100;
    position: fixed;
    top: 100px;
    left: 95%;
    width: 80px;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    padding: 3px 5px;
    color: #E45959;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(248, 245, 242, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    border: 1.2px solid #E45959;
    transition-duration: .2s;
    cursor: pointer;
}

@-moz-document url-prefix() {
    .log-out-container {
        background-color: #F3F1EF;
    }
}

.log-out-container:hover {
    color: rgba(255, 255, 255, 0.822);
    border: 1.2px solid transparent;
    background-color: rgba(228, 89, 89, 0.795);
}

.menu-bar-container {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(248, 245, 242, 0.1);
}

@-moz-document url-prefix() {
    .menu-bar-container {
        background-color: #F3F1EF;
    }
}

.menu-bar-logo-wrapper {
    margin: 6px 0 6px 1vw;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar-logo {
    width: 250px;
    cursor: pointer;
}

.menu-bar-search-wrapper {
    flex: 8 5 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu-bar-search-wrapper > form {
    margin: auto auto auto 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-bar-search-wrapper > form > input {
}

.menu-bar-search-wrapper > form > button {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 2px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-bar-search-wrapper > form > button > img {
    height: inherit;
}

.menu-bar-info-container {
    height: 4rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.user-info-wrapper {
    width: 150px;
    padding: 0px 15px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1.2px solid transparent;
    transition-duration: .2s;
    cursor: pointer;
}

.user-info-wrapper:hover {
    border: 1.2px solid #383634;
}

.menu-bar-user-icon {
    height: 60%;
}

#username-loading {
    height: inherit;
    width: 30px;
    margin-left: 1rem;
}

#username-field {
    margin-left: 1rem;
}

.cart-info-wrapper {
    width: 150px;
    padding: 0px 15px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1.2px solid transparent;
    transition-duration: .2s;
    cursor: pointer;
}

.cart-info-wrapper:hover {
    border: 1.2px solid #383634;
}

.menu-bar-cart-icon {
    padding-right: 0.6rem;
    height: 60%;
}

#cart-loading {
    height: inherit;
    width: 30px;
    margin-left: 0.5rem;
}

.background-blur-container {
    display: none;
    z-index: 199;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(80, 80, 80, 0.1);
    transition: 0.5s ease;
}

@-moz-document url-prefix() {
    .background-blur-container {
        background-color: #F3F1EF;
    }
}

.login-prompt-container {
    display: none;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.close-login-prompt-btn {
    margin: 5px 5px 0px 0px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s ease;
    user-select: none;
}

.close-login-prompt-btn:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(255, 255, 255);
}

.login-prompt-btn {
    font-size: 20px;
    width: 160px;
    padding: 8px 0px;
    border: 2px solid #426869;
    background-color: transparent;
    color: #426869;
    transition: 0.1s ease;
    cursor: pointer;
}

.login-prompt-btn:hover {
    background-color: #426869;
    color: white;
}

.login-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-btn {
    margin-bottom: 25px;
}