.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

html {
    background-color: #edeae7;
}

header {
    position: sticky;
    z-index: 100;
    top: 0;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(248, 245, 242, 0.1);
}

h1 {
  text-align: center;
}

.tTitle {
  font-size: 20px;
}

.order_summary {
  position: relative;
  border-radius: 15px;
  border: 2px solid black;
  height: fit-content;
  padding: 0 20px;
  margin-left: 30;
  display: flex;
} 
.order_summary td {
  height: 35px;
}

.cart {
  border-radius: 15px;
  border: 2px solid black;
  float: left;
  margin-right: 40;
  height: fit-content;
  padding: 0 20px;
}

.cart td {
  border-top: 1px dotted black;
  text-align: center;
  height: 40px;
}

.flex-container {
  display: flex;
  padding-top: 50; 
  justify-content:space-around;
}

.total td{
  color: red;
  font-size: 150%;
  border-top: 1px dotted black;
}

.button {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  height: 30px;
  font-size: 80%;
  font-weight: bold;
  background-color: rgb(238, 238, 0);
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(255, 217, 50);
  color: black;
}

.selection {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  
  width: auto;
  height: 30px;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(238, 238, 0);
  border: 1px solid black;
  color: black;
  padding: 10px;
}

.selection:hover {
  background-color: rgb(255, 217, 50);
  color: black;
}

.h {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.returnButton {
  position: relative;
  margin-top: 10px;
  margin-right: 50px;
  float:right;
  width: 150px;
  height: 30px;
  font-size: 80%;
  font-weight: bold;
  background-color: rgb(238, 238, 0);
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.returnButton:hover{
  background-color: rgb(255, 217, 50);
  color: black;
}

.addInfo {
  text-align: center;
  margin: 50 auto;
}
.addInfo_form {
  font-size: 20px;
  font-weight: bold;
  margin: 50 auto;
}

.input {
  margin-top: 10px;  
  margin-bottom: 10px;
  margin-left: 10px;
  height: 30px; 
  width: auto;
  border: none;
  border-radius: 5px;
}