* {
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #edeae7;
}

.category-container {
    width: 70vw;
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card {
    margin: .5rem .5rem .5rem .5rem;
    flex: 1 1 fit-content;
    border-radius: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
}

.category-card > img {
    height: 2rem;
    width: auto;
    padding-left: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

#all-icon {
    height: 1.5rem;
}

.category-card > span {
    padding-left: .5rem;
    padding-right: 1rem;
}

.featued-container {
    width: 70vw;
    margin: 70px auto 0px;
    display: flex;
    flex-direction: column;
}

.featued-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featued-title {
    font-size: 25px;
}

.featued-info > button {
    padding: 5px 10px;
    color: rgb(59, 59, 59);
    background-color: rgba(248, 245, 242, 0.849);
    backdrop-filter: saturate(180%) blur(10px);
    font-size: 17px;
    text-align: center;
    border-style: none;
    cursor: pointer;
    user-select: none;
    transition: 0.6s ease;
}

.featued-info > button:hover {
    color: rgb(230, 230, 230);
    background-color: rgb(92, 92, 92, .7);
}

.featured-card-container {
    overflow: auto;
    padding: 10px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.6s ease;
}

.featured-card-container::-webkit-scrollbar {
    height: 8px;
    background-color: rgba(248, 245, 242, 0.849);
}

.featured-card-container::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background: rgb(196, 196, 196);
}