.product-card-container {
    max-width: 220px;
    padding: 0 13px;
    margin-right: 45px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:white;
    cursor: pointer;
}

.product-card-container > img {
    padding-top: 15px;
    padding-bottom: 10px;
    max-height: 185px;
    object-fit: contain;
}

.product-title {
    font-size: 16px;
    line-height: 24px;
}

.unit-price {
    color: rgb(94, 94, 94);
    font-size: 14px;
    line-height: 20px;
}

.item-price-wrapper {
    padding: 15px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.final-price {
    font-size: 25px;
    margin-right: 8px;
}

.discount {
    font-size: 13px;
    font-weight: lighter;
    color: white;
    background-color: #DF2C2E;
    padding: 3px 6px;
}

.before-price {
    color: rgb(94, 94, 94);
    margin-left: 10px;
}

.product-card-container > button {
    font-size: 18px;
    border-style: none;
    border-radius: 3px;
    padding: 7px 24px;
    margin: 25px auto 15px;
    color: white;
    background-color: #4c7c7d;
    border: 2px solid #4c7c7d;
    transition-duration: .2s;
    cursor: pointer;
}

.product-card-container > button:hover {
    background-color: white;
    color: #4c7c7d;
}