html {
  background-color: #F3F1EF;
}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  padding-top: 50; 
  justify-content:space-evenly;
}

.setDefault {
  text-align: center;
  margin: 50 auto;
  max-width: 800px;
  /*border: 2px solid black;*/
  border-radius: 15px;

}
.setDefault_form {
  font-size: 20px;
  font-weight: bold;
  margin: 50 auto;
}

input[type='radio'], label {
  margin-top: 10px;  
  margin-bottom: 10px;
  margin-left: 5px;
  height: 30px; 
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  font-size: larger;
}

.button {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  height: 30px;
  font-size: 80%;
  font-weight: bold;
  background-color: rgb(238, 238, 0);
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(255, 217, 50);
  color: black;
}
