html {
  background-color: #F3F1EF;
}

.section-title {
  width: 100%;
  text-align: center;
}

.flex-container {
  margin: 10px auto 0px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.display-box {
  width: 400px;
  height: fit-content;
  height: -moz-fit-content;
  border-radius: 5px;
  border: 1px solid rgb(228, 228, 228);
  padding: 15px 30px;
  background-color: white;
  line-height: 30px;
  margin-top: 10px;
}

.aInP {
  text-align: center;
  margin: 0px auto;
  font-size: 16px;
}

hr {
  border-top: 1px solid rgb(197, 197, 197);
}

.button {
  position: relative;
  padding: 20px 10px;
  margin: 5px 10px;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  background-color: #E9E6E3;
  border-radius: 3px;
  border: 1px solid rgb(160, 160, 160);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.4s ease;
}

.button:hover{
  color: #dbdbdb;
  background-color: rgb(146, 146, 146);
}

.head_button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  margin-top: 15px;
}

.tooltiptext {
  text-align: left;
  width: 220px;
  color: rgb(105, 105, 105);
  font-size: 13px;
}

.button:hover .tooltip {
  visibility: visible;
}

.addInfo {
  margin: 0px auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addInfo_form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  min-width: 250px;
  margin: 2px 10px;  
  height: 30px; 
  border: none;
  border-radius: 5px;
}

.add-btn {
  align-self: center;
}